# Python
__pycache__/
# Project specific
data/
*.log
# Environment variables
.venv
project_report.md
project_report.pdf
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Pytest cache  
.cache/
# Coverage reports
.coverage